<!-- Nie wiem czemu semantic-ui-css nie działa po dodaniu przez yarn i import index.js -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

<div id="goal" data-goal-id='<%= @goal_id %>'></div>
<%= javascript_pack_tag 'goals' %>
