// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  h1 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 2.8rem;
    color: #9fc417;
    small {
      display: block;
      font-size: 1.2rem;
      font-weight: normal;
      color: #757575;
    }
  }

  p {
    position: relative;
  }

  img {
    max-width: 100%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 30vw;
    width: 100%;
  }

  // *********************** CEL ZBIORKI

  .header-purpose {
    color: #9fc417;
    background-color: #f4f4f4 !important;
  }

  .can-purpose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 25%;
      height: auto;
    }
    h3 {
      color: #2f9dd8;
      cursor: pointer;
      margin-left: 10px;
      margin-bottom: 20px;
    }
  }

  // *********************** SKARBONKA

  .can-wrapper {
    display: block;
    position: relative;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;

    .can {
      position: absolute;
      top: 0;
      left: 0;
    }

    .percentage {
      position: absolute;
      top: 45%;
      left: 40%;
      opacity: 0.8;
      color: #9fc417;
      font-size: 1.5rem;
      font-weight: bold;
      border-radius: 10px;
    }

    .amount {
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
      color: #9fc417;
      margin: 0;
      text-align: center;
    }

    .aim {
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
      color: #9fc417;
      margin: 0;
      text-align: center;
    }
  }

  // *********************** PLATNOSCI

  .payment-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    .payment-content {
      position: absolute;
      top: 15px;
      left: 100px;
      h4 {
        margin-bottom: 3px;
      }
    }
    .payment-amount {
      color: #9fc417;
      font-weight: bold;
    }
  }
}
